<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend con SocketIO y Handlebars</title>
    <script src="/socket.io/socket.io.js"></script> 
    <script defer src="/js/realTimeProducts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-900 text-white font-sans">
    {{{body}}}
</body>
</html>